# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environments
venv/
gnn_env/
.env/
.venv/

# Build / dist / logs
build/
dist/
*.log
*.out
*.err

# Data and datasets
data/
*/data/
tmp/
tmp*/
*.npy
*.npz
*.pt
*.pth

# Torch Geometric cached datasets
Cora/
*/Cora/
tmp*
/tmp/

# IDE / Jupyter
.ipynb_checkpoints/
.vscode/
.idea/
*.swp
.DS_Store
